@model IEnumerable<OnlineMusic.EF.SLIDE>

@{
    ViewBag.Title = "Danhsach";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
    <button class="btn btn-light" type="button">
        @Html.ActionLink("Thêm mới slide", "Index")
    </button>

</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>DisplayOrder</th>
                        <th>Mô tả</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td><img src="@item.Image" style="width: 350px; height:auto" /></td>
                            <td>@item.DisplayOrder</td>
                            <td>@item.Description</td>
                            <td>@item.Status</td>
                            <td>
                                <a href="/Admin/Slide/Sua?id=@item.ID">Sửa</a>
                                <a href="/Admin/Slide/Xoa?id=@item.ID"> Xóa</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @*@Html.PagedListPager(Model, Page => Url.Action("Danhsach", new { Page }));*@
        </div>
    </div>
</div>
